<!DOCTYPE html>
<html>
<head>
  <title>Guille Lopez</title>
  <meta name='description' content='Full-stack developer and designer working from Barcelona.' />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Old Standard+TT:400|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<%= yield %>
<%= render "layouts/analytics" %>

</body>
</html>
