<!DOCTYPE html>
<html>
<head>
  <title>Guille Lopez</title>
  <meta name='description' content='Full-stack developer from Barcelona working in San Francisco.' />
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="Guille Lopez" href="http://www.guillelopez.com/feed?format=rss">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render "layouts/analytics" %>

</body>
</html>
